* {
    margin: 0;
    padding: 0;
}

:root {
    /* Background & Border */
    --bg-def: #f5f4f0;
    --border-1: #d9d9d9;

    /* Text */
    --text-1: #1b1b1b;
    --text-2: #333;
    --text-3: #696969;
    --text-hl: #e1624f;

    /* Destaque */
    --dt-azul: #0c51a7;
    --dt-laranja: #e95e10;
    --dt-rosa: #e5245e;
    --dt-roxo: #591b98;

}

#container {
    margin: auto;
    max-width: 1120px;
    font-family: "Alice", serif;
}

.hl {
    color: var(--text-hl);
    font-size: 16px;
    font-weight: bold;
}
.cardimg {
    max-width: 1120px;
    max-height: 729px;
    align-items: center;
    border-radius: 16px;
}